#header{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}


/** =============== TOP ================ */

#header_top{
    padding: 140px;
    padding-bottom: 0;
    justify-content: space-between;
}

#header_top h1{
    color: #5756a2;
    font-size: clamp(var(--size-title-small),var(--size-title-medium),var(--size-title-big));
    font-weight: 700;
    text-align: left;
}

#progress{
    width: 40%;
}

#progress_label{
    font-family: var(--main-font);
    font-size: 15px;
}

#progress_bar{
    box-sizing: border-box;
    border-radius: 20px;
    height: 27px;
    padding: 2px;
    position: relative;
    border-radius: 80px;
    border: 2px solid #e3e3e3;
    background-color: transparent;
}

#progress_filler{
    width: 25%;
    height: 80%;
    position: absolute;
    border-radius: 20px;
    background-color: #5756a2;
}



/** =============== BOTTOM ================ */

#header_bottom{
    /* padding: ;  */
}

#header_bottom_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.step{
    
}

.step_check{
    width: 50px;
    height: 50px;
    border: 2px solid #e3e3e3;
    border-radius: 50%;
}