#footer{ /* SECTION */
    width: 95%;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: var(--main-font);
    position: relative;
}

#footer_img_container{
    width: 65%;
    position: absolute;
    left: -30px;
    bottom: 10px;
}

#footer_paging{ /* Container of the two buttons */
    position: absolute;
    right: 0;
    bottom: 3rem;
    width: 25%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.footer_paging{ /* container of each button */
    border: 1px solid;
    border-color: #c6e0fd;
    border-radius: 3px;
    width: 35%;
    height: 5rem;
    padding-inline: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_paging:hover{
    cursor: pointer;
}

#footer_paging-next{
    background-color: var(--main-color);
    color: white;
    border: none;
}

@media (max-width: 600px){
    #footer{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-inline: auto;
    }

    #footer_img_container,
    #footer_paging{
        position: static;
        width: 100%;
    }
}